*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    margin-top: 50px;
    overflow: hidden;
    width: 600px;
    border-right:2px solid red;
}
